<h1>REAL TIME CHAT WITH WEBSOCKETS</h1>

<div id="messages"></div>

<form id="message-form">
    <input type="text" id="message-input" placeholder="Type your message here" autocomplete="off" />
    <button>Send</button>
</form>


<script type="module" src="js/chat.js"></script>