<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Product App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse pt-3" id="navbarSupportedContent">

      <form class="d-flex" id="sorting-form">
        <label for="limit-input" class="me-1">Limit:</label>
        <input
          type="number"
          class="form-control me-2"
          id="limit-input"
          placeholder="Limit"
          min="1"
          step="1"
          value="10"
        />
        <label for="query-input" class="me-1">Query:</label>
        <input
          type="text"
          class="form-control me-2"
          id="query-input"
          placeholder="Query"
        />
        <label for="sort-select" class="me-1">Sort:</label>
        <select class="form-select me-2" id="sort-select">
          <option value="" disabled selected>Sort by price</option>
          <option value="asc">Ascending</option>
          <option value="desc">Descending</option>
        </select>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</nav>